DATABASE_URL=mysql+asyncmy://rag:mypassword@127.0.0.1:3306/rag?charset=utf8mb4
SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=720

TRASH_DIR=D:/ECT/Project/FastAPITest/trash

HASH_SALT = "your_super_secret_salt_key" 
MIN_LENGTH = 20

SSO_CLIENT_ID = ""
SSO_CLIENT_SECRET = ""
SSO_REDIRECT_URI = "https://fastapi888.lukeenortaed.site/callback"
SSO_TOKEN_URL = "https://sso.kmutnb.ac.th/auth/token"
SSO_USERINFO_URL = "https://sso.kmutnb.ac.th/resources/userinfo"

# เปิด/ปิด OpenRouter (true = ใช้ OpenRouter, false = ใช้ Ollama)
USE_OPENROUTER=true
USE_GEMINI=false

OPENROUTER_API_KEY=
OPENROUTER_MODEL=mistralai/ministral-3b-2512
OPENROUTER_CONTEXT_WINDOW=131072

OPENROUTER_REFERER=http://localhost
OPENROUTER_APP_TITLE=RAG-App


GEMINI_API_KEY=
GEMINI_MODEL=models/gemma-3-1b-it
GEMINI_CONTEXT_WINDOW=1048576
