# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environment
venv/
env/
ENV/
.venv/

# IDEs
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# FastAPI specific (optional)
*.db
*.sqlite3

# vecotorstore
chroma_db/
